{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{judul}}|Data Architect</title>
</head>
<body>
<img style='width:100%' src='{% static banner %}' alt=''>
<h1>This is the {{konten}} section</h1>
<ul>
    <li><a href="/",title="">Home</a></li>
    <li><a href="/blog",title="">Blog</a></li>
</ul>
<h2>The Ghost of Oxford Milford Road</h2>
<p>When Brad Culp was a student at Miami University in Oxford, Ohio, there was a rumor that the town was one of the most haunted places in America. When Culp started an on-campus magazine, he couldn’t wait to write about several of the area’s most famous phantoms. Not long after his story published, though, he kept finding himself thinking about one ghost in particular—the ghost of Oxford Milford Road. </p>
<p>As the story goes, many decades ago, probably sometime in the 1940s, there was a young man courting a young woman in a rural part of town. Because the woman’s parents didn’t approve of the match, each night he visited under the cover of darkness. After her parents went to bed, the young woman would sneak out of her farmhouse and flash the lights of her parent’s car three times. Then her young suitor would ride his motorcycle down the road. </p>
<p>“One night he took the turn right before her house a little too sharp,” says Culp. The motorcycle went one way, he went the other. His injuries were so severe that he did not survive. Rumor has it, however, that his lovestruck ghost still haunts this stretch of Milford Road. </p>
<p>Curious, Culp, his girlfriend (now his wife), and a friend decided to head out there one night to see if they could verify the tale. His girlfriend was worried she’d be completely freaked out. “She believes more in that stuff than I do,” Culp says. But he was mostly concerned that his suspicions—that none of this was actually true—would be confirmed. On this particular night, as Culp passed the abandoned farm, an idea came to him, and he pitched it to his girlfriend (how could she not say yes?). Though reluctant, she relented, and Culp turned a short way into the farmhouse driveway. </p>
<p>He killed the engine and flashed his lights three times. “No joke, there was a single headlight that appeared three-quarters of a mile down the road,” Culp says. “You saw it start to come, going pretty slow. It kept coming and coming. My wife was freaking out. It was coming closer and closer.” As a collision seemed imminent, Culp turned on his car’s lights. He expected to see a kid on a bike, bailing out from his prank now that he’d been caught. “But there’s nothing there. The light is just gone,” he says. </p>
<p>They got out of the car. They walked around, trying to figure out what it was they could have seen. “To this day, we still talk about it. I saw something I cannot explain,” he says. If you get him and his wife around a campfire, they’ll swear up and down that the story is true. And if you’re ever in Oxford, Ohio, consider parking for just a few minutes on Oxford Milford Road at night to test your own nerve. </p>
<p>Kontributor : {{kontributor}}</p>
<p>This website are created using django</p>
</body>
</html>